_site
*.DS_Store
.jekyll
.bundle
.sass-cache
node_modules
recentPosts.html
styles.md
.ipynb_checkpoints
Rakefile
npm-debug.log
.sass-cache
_drafts
_jupyter
assets/ascii/recordings
.vscode
assets/drafts
.jekyll-cache
npm-debug.log