<link rel="apple-touch-icon-precomposed" sizes="16x16" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png" />
<link rel="apple-touch-icon-precomposed" sizes="24x24" href="{{ site.url }}/assets/images/favicon/favicon-24x24.png" />
<link rel="apple-touch-icon-precomposed" sizes="32x32" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png" />
<link rel="apple-touch-icon-precomposed" sizes="48x48" href="{{ site.url }}/assets/images/favicon/favicon-48x48.png" />
<link rel="apple-touch-icon-precomposed" sizes="64x64" href="{{ site.url }}/assets/images/favicon/favicon-64x64.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/favicon/favicon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="96x96" href="{{ site.url }}/assets/images/favicon/favicon-96x96.png" />
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{ site.url }}/assets/images/favicon/favicon-128x128.png" />
<link rel="apple-touch-icon-precomposed" sizes="256x256" href="{{ site.url }}/assets/images/favicon/favicon-256x256.png" />

<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="24x24" href="{{ site.url }}/assets/images/favicon/favicon-24x24.png" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="48x48" href="{{ site.url }}/assets/images/favicon/favicon-48x48.png" />
<link rel="icon" type="image/png" sizes="64x64" href="{{ site.url }}/assets/images/favicon/favicon-64x64.png" />
<link rel="icon" type="image/png" sizes="72x72" href="{{ site.url }}/assets/images/favicon/favicon-72x72.png" />
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/assets/images/favicon/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="128x128" href="{{ site.url }}/assets/images/favicon/favicon-128x128.png" />
<link rel="icon" type="image/png" sizes="256x256" href="{{ site.url }}/assets/images/favicon/favicon-256x256.png" />



<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="favicon-128x128.png" />
<meta name="msapplication-square72x72logo" content="favicon-72x72.png" />
<meta name="msapplication-square128x128logo" content="favicon-128x128.png" />
<meta name="msapplication-square256x256logo" content="favicon-256x256.png" />
