

{% if page.title == "Home" %}
  <header class="header-home animated">
  <h1 class="title">{{ site.name }}</h1>

  <asciinema-player src="/assets/ascii/banner_postdoc.json" width="100" rows="2" cols="43" loop="1" autoplay="1" speed="5" font-size="1.01em"></asciinema-player>

  <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
  </a>
  {% include social-links.html %}

{% else %}
  <header class="header-home">
  <a class="link" href="{{ site.url }}">
  <img class="selfie-small" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" /></a>
  {% include social-links-small.html %}
{% endif %}
</header>

{% include nav.html %}
