<nav class="nav-home">
<!-- <nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}"> -->
    <ul class="list">
        <!-- {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %} -->
        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.research == true %}
            {% if page.title != "Research" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/research">Research</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.software == true %}
            {% if page.title != "Software" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/software">Software</a>
                </li>
            {% endif %}
        {% endif %}


        {% if site.pubs == true %}
            {% if page.title != "Publications" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/publications">Publications</a>
                </li>
            {% endif %}
        {% endif %}


        {% if site.music == true %}
            {% if page.title != "Music" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/music">Music</a>
                </li>
            {% endif %}
        {% endif %}


        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}


    </ul>
</nav>
{% if page.title != "Home" %}
    <hr class="divider">
{% endif %}
