/* Need this for styling the search bar in publications.md That's cause the file is
  already converted to HTML and thus isn't accessible to tailwind's compiler */
#search {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  padding: 0 1rem 0 1rem;
  background: #f1f5f9;
  border: solid 1px #0f172a;
  border-radius: 0.5rem;
  outline-width: 0px;
}
@media screen and (min-width: 675px) {
  #search {
    display: inline;
    margin-left: .5rem;
    padding: 0 1rem 0 1rem;
    background: #f1f5f9;
    border: solid 1px #0f172a;
    border-radius: 0.5rem;
    outline-width: 0px;
    margin-right: unset;
    margin-top: unset;
    width: unset;
  }
}
/* Same deal with making the side by side tag available  */
.side-by-side {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}
.side-by-side div {
  flex-basis: 50%;
}
.breaker {
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    border: none;
    border-top: 3px double rgb(156 163 175);
    opacity: .5;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}
.breaker:after {
    background: #fff;
    content: '"';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
code:before {
    content: '' !important;
}
code:after {
    content: '' !important;
}
