/* Need this for styling the search bar in publications.md That's cause the file is
  already converted to HTML and thus isn't accessible to tailwind's compiler */
#search {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  padding: 0 1rem 0 1rem;
  background: #f1f5f9;
  border: solid 1px #0f172a;
  border-radius: 0.5rem;
  outline-width: 0px;
}
@media screen and (min-width: 675px) {
  #search {
    display: inline;
    margin-left: 0.5rem;
    padding: 0 1rem 0 1rem;
    background: #f1f5f9;
    border: solid 1px #0f172a;
    border-radius: 0.5rem;
    outline-width: 0px;
    margin-right: unset;
    margin-top: unset;
    width: unset;
  }
}
/* Same deal with making the side by side tag available  */

.side-by-side {
  display: flex;
  flex-direction: column;
}

.side-by-side img.image {
  width: 50%;
  max-width: 16rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 841px) {
  .side-by-side {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
  }
  .side-by-side div {
    flex-basis: 50%;
  }
}
.breaker {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  border: none;
  border-top: 3px double rgb(156 163 175);
  opacity: 0.5;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}
.breaker:after {
  background: #fff;
  content: '"';
  padding: 0 4px;
  position: relative;
  top: -13px;
}
/* remove the surrounding `` that tailwind typography adds */
code:before {
  content: "" !important;
}
code:after {
  content: "" !important;
}

div[class*="language-"] {
  position: relative;
}

button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #cbd5e1;
  color: #1e293b;
  font-size: 0.85rem;
  padding: 0.35rem 0.75rem;
  border-radius: 0.8rem;

  /* more stuff */
}

/* CSS-only code line numbers, but doesn't work ATM. Because rouge syntax highlighting
wraps each word in a span, we can't split on spans to count lines and there doesn't seem
to be any obvious new line delimeter*/

/* pre {
    counter-reset: line;
}
pre span {
    display: block;
    line-height: 1.5rem;
}
pre span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5rem;
    margin-right: 0.5rem;
    color: #888;
} */
