---
layout: compress
---
<!-- Default ("parent-most") layout that is compressed in compress.html -->
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta name=description content="{{ site.bio }}">
    <meta name=author content="{{ site.name }}">

    {% seo %}
    <meta property="og:image" content="{{ site.url }}/{{ site.picture }}">
    {%if page.title == "Lab" %}
      <meta property="og:description" content="I'm joining @UCSDPsychology as an Assistant Professor in Jan 2025! I'll be starting a lab group and hiring, checkout for more details.">
      <meta name="twitter:description" content="I'm joining @UCSDPsychology as an Assistant Professor in Jan 2025! I'll be starting a lab group and hiring, checkout for more details.">
    {% endif %}

    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{
                site.url }}{{ "/feed.xml" }}"/>
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.min.css' | relative_url }}">
    <script defer src="https://umami.eshin.codes/script.js" data-website-id="ca7ef4ec-0541-4927-badd-c5bd2ce7ec80" data-domains=""eshinjolly.com"></script>

  </head>
  <body class="body">
    <div class="page">
      {% if page.tag %}
        <div class="post">
        {% else %}
          <div class="{{ page.title | downcase }}">
          {% endif %}
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </body>
  </body>
</html>
