---
layout: compress
---
<!-- Default ("parent-most") layout that is compressed in compress.html -->
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta name=description content="{{ site.bio }}">
    <meta name=author content="{{ site.name }}">

    {% seo %}
    {%if page.title == "Lab" %}
      <meta property="og:image" content="{{ site.url }}/assets/images/sketch.png">
      <meta property="og:description" content="I'm starting as an Asst Prof at @UCSDPsychology in Jan 2025! Starting a lab and hiring, checkout for more details.
    {% else %}
      <meta property="og:image" content="{{ site.url }}/{{ site.picture }}">
    {% endif %}

    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{
                site.url }}{{ "/feed.xml" }}"/>
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.min.css' | relative_url }}">

    <script async data-website-id="4a8aa9aa-84ea-4c68-b908-c32d9488972b" src="https://umami.eshin.codes/script.js" data-domains="eshinjolly.com"></script>

  </head>
  <body class="body">
    <div class="page">
      {% if page.tag %}
        <div class="post">
        {% else %}
          <div class="{{ page.title | downcase }}">
          {% endif %}
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </body>
  </body>
</html>
